/** @format */

.videoFooter {
	position: relative;
	z-index: 3;
}
.videoFooter__diskImage {
	position: absolute;
	bottom: 75px;
	right: 90px;
	width: 45px;
	animation: rotate 5s infinite linear;
	animation-delay: 0s;
}
.videoFooter__text {
	position: absolute;
	left: 90px;
	bottom: 30px;
	min-width: 300px;
}
@keyframes rotate {
	from {
		transform: rotate(0);
	}
	to {
		transform: rotate(360deg);
	}
}
